body{
    margin: 0px;
    padding: 0px;
}
.all{
    background-color: peachpuff;
}
p, h1, h2, h3, a{
    font-family: georgia;
}
img{
    width: 30%;
  margin: auto;
  display: block;
  border-radius: 50%;
}
